!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
*.iml
*.ipr
*.iws
*.launch
*.local
*.log
*.njsproj
*.ntvs*
*.pid
*.pid.lock
*.seed
*.sln
*.sublime-workspace
*.suo
*.sw?
*.tsbuildinfo
.DS_Store
.apt_generated
.c9/
.classpath
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.factorypath
.idea
.idea/
.mvn/wrapper/maven-wrapper.jar
.project
.sass-cache/
.settings
.settings/
.springBeans
.sts4-cache
.temp
.tmp
/.angular/cache
/.idea
/.nb-gradle/
/.nyc_output
/bazel-out
/build
/connect.lock
/coverage
/cypress/screenshots/
/cypress/videos/
/dist
/dist/
/libpeerconnection.log
/nbbuild/
/nbdist/
/nbproject/private/
/node_modules
/out-tsc
/tmp
/typings
HELP.md
Thumbs.db
build/
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
node_modules/
npm-debug.log
npm-debug.log*
pids
playwright-report/
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
target/
test-results/
testem.log
yarn-debug.log*
yarn-error.log
yarn-error.log*
